doctype html

head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title NyondoStock
  link(rel='stylesheet' href='/css/index.css')
h1.hero-title NYONDO STOCK HARDWARE
.logo
  img(src='Images/logo1.png' alt='Nyondo Logo')
.hero
  .overlay
    .hero-content
      h2 Welcome to NyondoStock
      p
        | Your one-stop shop for all your stock needs. Explore our wide range
        | of products and find the best deals.
      button.btn.btn-primary.btn-lg(type='button')
        a.btn(href='Login.html') Get Started
      //
        <button>
        <a href="SignUp.html" class="btn">Sign Up</a>
        </button>
