<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NyondoStock</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1 class="hero-title">NYONDO STOCK HARDWARE</h1>

    <div class="logo">
      <img src="Images/logo1.png" alt="Nyondo Logo" />
    </div>

    <div class="hero">
      <div class="overlay">
        <div class="hero-content">
          <h2>Welcome to NyondoStock</h2>
          <p>
            Your one-stop shop for all your stock needs. Explore our wide range
            of products and find the best deals.
          </p>
          <button type="button" class="btn btn-primary btn-lg">
            <a href="Login.html" class="btn">Get Started</a>
          </button>
          <!-- <button>
            <a href="SignUp.html" class="btn">Sign Up</a>
          </button> -->
        </div>
      </div>
    </div>
  </body>
</html>
